<nav class="navbar navbar-dark   bg-primary  navbar-expand-sm  fixed-top">

    <a class="navbar-brand">TrelloClone</a>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-danger  my-2 my-sm-0" type="submit">Search</button>
    </form>
   <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Link 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 3</a>
      </li>
    </ul>
  
  </nav>
  <div class="container">

  <app-login></app-login>
</div>
<router-outlet></router-outlet>
